API_URL = "example_api_url"
API_KEY = "example_api_key" 

MCP_INDIA_KANOON_URL = "example_mcp_url"
OPEN_AI_KEY = "example_open_ai_key"
OPEN_AI_URL = "example_open_ai_url"
OPEN_AI_MODEL = "example_model"